Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an orangnized collection of structured information or data that is stored and managed on a computer system.

SQL ( Structured Query Language )

1. SQL database use a structured data model, typically based on tables with predefined schemas.

2. SQL database enforce strict data integrity rules through features like primary keys and foreign keys and constraints.

3. SQL database generally support ACID property

NoSQL Database:

1. NoSQL database use various data models such as key-value documents, columnar or graph.

2. NoSQL database excel at horizontal scalability, distributed data across multiple server or nodes.

3. NoSQL database often prioritize high performance and scalability over strict performance.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

DDl stands for data definiation language. It is a subset of SQL used to define and manage the structure of a database.

Some examples for DDL statements

1. CREATE:
The CREATE statement is used to create new database objects,such as tables, indexes, views or schemas.

Ex-
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50)
)

2. DROP:
DROP statement is used to remove or delete existing database objects.

Ex-
DROP TABLE employees

3.ALTER 
ALter statement is used to alter existing database objects.

Ex-
ALTER TABLE employees
ADD COLUMN salary DECIMAL(10, 2)

4.TRUNCATE:
TRUNCATE statement is used to to remove all data from a table.

Ex-
TRUNCATE TABLE employees

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

DML means Data manipulation language

1. INSERT:
The INSERT statement is used to insert new records into a table.

INSERT INTO employee (id, name, age, department)
VALUES( 1, 'John Doe', 30 , 'it') 

2.UPDATE:
The UPDATE statement is used to modify existing records in a table.

UPDATE employees
SET department = 'HR'
WHERE id = 1;

3. DELETE:
The DELETE statement is used to remove records from a table.

DELETE FROM employees
WHERE age > 40;

Q4. What is DQL? Explain SELECT with an example

DQL is a data query language.DQL statements primarily consist of the SELECT statement, which is used to specify the data to be retrieved and the conditions for filtering the data.

SELECT * FROM employees WHERE name = 'John'

Q5. Explain Primary Key and Foreign Key

    A primary key is a column or a combination of columns that uniquely identifies each row in a table.

    A foreign key is a column or a set of columns in a table that refers to the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
import mysql.connector
# import mysql.connector 
# create user 'user'@''%' identified by 'password'

# Connection string 
mydb = mysql.connector.connect(
    host='localhost',
    user="root",
    password="password"
)

print(mydb)

mycursor = mydb.cursor()
mycursor.execute("SELECT c1,c5 FROM test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

# cursor 
# The cursor() method is used to create a cursor object, which allows you to execute SQL statements and retrieve results from the database. The cursor acts as a handle or pointer that points to a specific location in the result set.

# execute()
# The execute() method is used to execute an SQL statement or query. It takes the SQL statement as a parameter and sends it to the database for execution. It can also accept additional parameters for parameterized queries to provide values for placeholders.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows these steps:

1. FORM: The FROM clause specifies the table or tables from which the data will be retrieved.

2. WHERE:The WHERE clause filters the data based on specified conditions. It narrows down the result set by evaluating the conditions against each row.

3. GROUP BY:The GROUP BY clause is used to group the rows based on one or more columns. It creates distinct groups of data for subsequent aggregation operations.

4. HAVING:The HAVING clause is similar to the WHERE clause but is used specifically with the GROUP BY clause. It filters the grouped data based on conditions.

5. SELECT:The SELECT clause specifies the columns to be retrieved from the table. It determines which columns will be included in the result set.

6. DISTINCT:The DISTINCT keyword is used to eliminate duplicate rows from the result set.

7. ORDER BY:The ORDER BY clause is used to sort the result set based on one or more columns. It arranges the rows in ascending (ASC) or descending (DESC) order.

8. LIMIT/OFFSET:The LIMIT and OFFSET clauses (may vary depending on the specific database) are used to limit the number of rows returned and skip a specified number of rows, respectively. They are typically used for result pagination.